*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background: #396afc;
  background: -webkit-linear-gradient(to top, #2948ff, #396afc);
  background: linear-gradient(to top, #2948ff, #396afc);
  background-position: center;
  background-attachment: fixed;
}

.game {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);    
  margin: 0 auto;
  width: 350px;
  padding: 20px 30px;
  border-radius: 20px;
}

.game-row-area {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
  position: relative;
}

.hint-area {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  min-width: 30px;
  width: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.hint {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.colors-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.colors {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.answer {
  position: absolute;
  color: white;
  height: 90%;
  margin-left: 2.5%;
  border-radius: 20px;
  width: 95%;
  background: #396afc;
  background: -webkit-linear-gradient(to top, #2948ff, #396afc);
  background: linear-gradient(to top, #2948ff, #396afc);
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .3s;
  z-index: 1000;
}

.answer.show {
  transform: translateY(70%);
}

.select-color-area {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin: 20px;
  gap: 10px;
}

.select-color {
  width: 210px;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.select-color:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.rules-area, .game-area, .select-color-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blue {
  background-color: #26D0CE;
}
.red {
  background-color: #ED213A;
}
.yellow {
  background-color: #EAF205;
}
.green {
  background-color: #38F205;
}
.orange {
  background-color: #fe8c00;
}
.purple {
  background-color: #9407F2;
}